/* You can add global styles to this file, and also import other style files */

:root {
    --background: #0c0c20;
    --base: #17153B;
    --primary: #0C2C55;
    --highlight: #EDEDCE;
    --secondary: #629FAD;
}

html, body {
    height: 100%;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: column;
}