html, body {
    min-height: 100%;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-width: 300px;
    width: 90vw;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
}

@media screen and (width < 768px) {
    .content-container {
        padding-inline: 0.5rem;
    }
}

.opacity-transition {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (prefers-reduced-motion: reduce) {
  .opacity-transition {
    animation: none;
  }
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: var(--bs-body-bg);
    }
    100% {
        background-color: var(--bs-tertiary-bg);
    }
}

.skeleton-text {
    height: 16px;
    border-radius: var(--bs-border-radius-sm);

    &.small {
        height: 12px;
    }
}

.skeleton-circle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
}