.heading-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    width: fit-content;
}

.info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}