.main-container {
    justify-content: center;
    height: 100%;
}

.height-transition {
    height: 0;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: ease;
}

@media (prefers-reduced-motion: reduce) {
    .height-transition {
        transition: none;
    }
}

@media screen and (width < 576px) {
    .overflow-y-scroll-sm {
        overflow-y: scroll;
    }
}