.main-container {
    justify-content: center;
    height: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-width: 300px;
    width: 80vw;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
}

.forecast-container {
    height: 100%;
}

.cards-container {
    justify-content: space-between;
    gap: 1rem;
}

.card {
    padding: 1rem;
    width: 100%;
}