.main-container {
    justify-content: center;
    min-height: 100vh;
}

.height-transition {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

.height-transition.h-100 {
    max-height: 100vh;
    flex-grow: 1;
}

@media (prefers-reduced-motion: reduce) {
    .height-transition {
        transition: none;
    }
}

@media screen and (width < 576px) {
    .overflow-y-scroll-sm {
        overflow-y: scroll;
    }
}