.dropdown > * {
    max-width: 800px;
    min-width: 200px;
    width: 60vw;
}

input {
    padding: 0.25rem 1rem;
}

input:focus {
    border: none !important;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
}