<div class="dropdown">
    @if (searchable()) {
        <div class="btn-group">
            <input
                class="form-control border-0 rounded-end-0"
                (input)="onValueChange($event.target.value)"
                placeholder="{{ placeholder() }}"/>
            <button type="button"
                    class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                    [class.btn-lg]="size() === 'large'"
                    [class.btn-sm]="size() === 'small'"
                    (click)="toggleMenu()"
                    data-bs-toggle="dropdown"
                    [attr.aria-expanded]="isMenuOpen()">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
        </div>
    } @else {
        <button class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenu"
                (click)="toggleMenu()"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            {{ placeholder() }}
        </button>
    }
    <div class="dropdown-menu mt-1"
        [class]="isMenuOpen() ? 'd-block' : 'd-none'"
        aria-labelledby="dropdownMenu">
        @if (!isLoading()) {
            @if (filteredItems().length === 0) {
            <span class="dropdown-item-text text-secondary">No items</span>
            }
            @for(item of filteredItems(); track item) {
                <button
                    class="btn btn-secondary dropdown-item"
                    type="button"
                    (click)="onItemClick(item)">
                    <div class="d-flex flex-column flex-sm-row">
                        <span>
                            {{ item.value }}
                        </span>
                        <span class="ms-sm-auto text-secondary small"> {{ item.subvalue }} </span>
                    </div>
                </button>
            }
        } @else {
            <div class="flex-container justify-content-center align-items-center">
                <div class="spinner-grow" role="status">
                    <span class="invisible">Loading...</span>
                </div>
            </div>
        }
    </div>
</div>